@import "bootstrap/scss/bootstrap";
@import url(https://use.fontawesome.com/releases/v5.2.0/css/all.css);

body{
    padding: 100px;
}

h1{
//    text-align: left;
font-weight: bolder;
margin: 15px;
}
h2{

}

p{
//  text-align: center;
}

li{
//    text-align: left;
}

.container{
//    display: flex;
width: 700px;
}

#return{
    color: blue;
} 

#headers{
    display: flex;
    justify-content: space-between;
}